# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
env/
venv/

# Model files
*.h5
*.pkl
*.pt
models/

# Uploaded images
static/uploads/

# Jupyter checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
# Logs
*.log
# Environment files
.env

